@import 'index.css';
@import 'formulario.css';

:root{
	--color5: #fff;  /*color blanco*/
	--color6: #000;  /*color negro*/
	--color7: #202020;  /*color negro claro*/
	--color8: #2E2E2E; /*color negro mas claro*/
	--color9: #969292; /*gris oscuro*/
}
a, .icon-search{
	color: #BFBBBB;
}
a:hover, form>.icon-search:hover{
	color: var(--color9);
}
body>.solicitar, .solicitar>#table{
	background: var(--color6);
	background-color: var(--color6);
	box-shadow: none;
}
#anyadir>section, body, #registro>section, #busqueda>section, body>section, #user>section, #detalle>article, #capafondo>article{
	background-color: var(--color7);
}
body>main>.articulos, #resultadosearch>#resultado{
	background-color: var(--color8);
	border: 2px solid var(--color5);
}
.button, .user, .formu, #reg, #sal{
	background: var(--color6);
	box-shadow: none;
	border: 2px solid var(--color5);
	color: var(--color5)
}
.button:hover, .user:hover, .formu:hover{
    background: var(--color6);
    background-color:var(--color7);
}
footer{
	background: var(--color6);
	box-shadow: none;
}
footer>label>a:hover{
	color: var(--color5);
}
header, .form, #registro>section>form, #anyadir>section>form, #busqueda>section>form, #nuevoalbum>section, #capafondo>article>h2{
	background: var(--color6);
	box-shadow: none;
}
header>.icon-user:hover, #user>section>.icon-user:hover{
	color: var(--color9);
}
input[type="text"],select, input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="tel"], input[type="date"], textarea{
	background-color: var(--color7);
	color: var(--color5);
	border: 2px solid var(--color5);
}
input-placeholder{ 
	color: var(--color5); 
}
input[type="search"]{
	border-color: var(--color9);
}
p, label, h1, h2, h3, h4, td, th, #capafondo>article>p{
	color: var(--color5);
}
 #tabcost, #tabcost>table>tbody{
 	background-color: var(--color6);
 }